*body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    box-sizing: border-box;
    margin: auto;
    display: flex;
    flex-direction: column;
    height:80vh;
    gap: 10px;
    flex-wrap: wrap;
    

}
.line-1,.line-2,.line-3{
    flex: 1;
    /* background-color: yellow; */
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-between;
    height: 100vh;
    gap: 10px;
    flex-wrap: wrap;
    /* min-width: 300px; */

}
.a,.b,.c{
    /* width: 100px; */
    /* height:100px; */
    flex: 1;
    background-color: pink;
    border: 1px solid black;
    /* min-width: 300px; */

    
    

}
.d,.e,.f{
    flex: 1;
    background-color: rgb(192, 225, 255);
    border: 1px solid black;
    /* min-width: 300px; */


}
.g,.h,.i{
    flex: 1;
    background-color: rgb(255, 233, 192);
    border: 1px solid black;
    /* min-width: 300px; */


}
@media (max-width: 600px) {
    .container {
        width: 90%;
    }
    .a,.b,.c,.d,.e,.f,.g,.h,.i,.g{
    
        /* min-width: 300px; */
        flex-basis: 15rem;
    
    }
    
   
}
